@use 'general' as general;
@use 'entity-global' as e-general;

.entity-search {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  gap: 1rem !important;
  align-items: flex-start;

  &-main {
    margin-top: .5rem !important;
    width: 71rem;
    background: var(--r-bg-neutral-950) !important;
    border-radius: 1rem;

    .p-dataview {
      &-header {
        display: flex !important;
      }
    }

  }

  &-side {
    margin-top: .5rem !important;
    width: 34rem;

    .p-divider {
      margin-bottom: .5rem;

      i, b {
        color: var(--r-gray-300);
      }

      b {
        margin-left: .5rem;
      }
    }

  }

  &-item {
    &-grid {
      display: flex !important;
      flex-wrap: wrap !important;

      > div {
        padding: .5rem !important
      }

      &-loading {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }

      .p-skeleton {
        position: relative !important;
        width: 6rem !important;
        height: 6rem !important;
      }
    }

    &-list {
      a {
        font-size: 1.2rem;
      }

      > div {
        border-radius: 1rem !important;
        background-color: var(--r-bg-slate-800) !important;
        margin: .5rem !important;
      }

      &-loading {
        height: 7rem;
      }

      &-thumb {
        padding: .5rem;
      }

      &-info {
        padding: .5rem 1.5rem 0 .25rem !important;

        &-time {
          color: var(--r-blue-400);
          font-size: 1.2rem;
          font-weight: 400;
        }

        &-sub {
          color: gray;
          font-size: 1.2rem;
          font-weight: 400;
        }

        i {
          font-size: 1rem;
        }

        .p-tag {
          padding: 0 .5rem;
          background: #333;
          margin: .2rem 0;
          &-label {
            font-size: 1.1rem;
            font-weight: normal;
          }
        }
      }
    }
  }

  &-entry-list {

    a {
      font-size: 1.2rem;
    }

    > div {
      border-radius: 1rem !important;
      background-color: var(--r-bg-slate-800) !important;
      margin: .5rem !important;
    }

    &-thumb {
      padding: .5rem;
    }

    &-loading {
      height: 4.5rem;
    }

    &-info {
      padding: .5rem 0 0 .25rem !important;

      &-time {
        color: var(--r-blue-400);
        font-size: 1.2rem;
        font-weight: 400;
      }

      &-sub {
        color: gray;
        font-size: 1.2rem;
        font-weight: 400;
      }

      i {
        font-size: 1rem;
      }

      .p-tag {
        padding: 0 .5rem;
        background: #333;
        margin: .2rem 0;
      }

      .p-tag-label {
        font-size: 1.1rem;
        font-weight: normal;
      }
    }
  }

  .p-paginator {
    .p-paginator {
      &-content-start {
        margin-inline-end: 0;
        color: var(--r-gray-300);
        font-size: 1.2rem;
      }

      &-content-end {
        margin-inline-start: 0;
        color: var(--r-gray-300);
        font-size: 1.2rem;
      }
    }
  }

  .p-dataview {
    margin: 0 1rem;
    .p-dataview {
      &-content {
        margin: 1rem;
      }
    }
  }
}