@use 'general' as general;
@use 'entity-global' as e-general;

.entity-search {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  gap: 1rem !important;

  &-main {
    margin-top: .5rem !important;
    width: 71rem;
    background: var(--r-bg-neutral-950) !important;
    border-radius: 1rem;

    .p-dataview {
      &-header {
        display: flex !important;
      }
    }

  }

  &-side {
    margin-top: .5rem !important;
    width: 36rem;

    .p-divider {
      margin-bottom: .5rem;

      i, b {
        color: var(--r-gray-300);
      }

      b {
        margin-left: .5rem;
      }
    }

  }

  &-item {
    &-grid {
      display: flex !important;
      flex-wrap: wrap !important;

      > div {
        padding: .5rem !important
      }

      &-loading {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }

      .p-skeleton {
        position: relative !important;
        width: 6rem !important;
        height: 6rem !important;
      }
    }

    &-list {
      a {
        font-size: 1.2rem;
      }

      > div {
        border-radius: general.$common-border-radius !important;
        background-color: var(--r-bg-slate-800) !important;
        margin: .5rem !important;
      }

      &-loading {
        height: 7rem;
      }

      &-thumb {
        padding: .5rem;
      }

      &-info {
        padding: .5rem 1.5rem 0 .25rem !important;

        &-time {
          color: var(--r-blue-400);
          font-size: 1.2rem;
          font-weight: 400;
        }

        &-sub {
          color: gray;
          font-size: 1.2rem;
          font-weight: 400;
        }

        i {
          font-size: 1rem;
        }

        .p-tag {
          padding: 0 .5rem;
          background: #333;
          margin: .2rem 0;
        }

        .p-tag-label {
          font-size: 1.1rem;
          font-weight: normal;
        }
      }
    }
  }


}

.p-paginator {
  .p-paginator {
    &-content-start {
      margin-inline-end: 0;
      color: var(--r-gray-300);
      font-size: 12px;
    }

    &-content-end {
      margin-inline-start: 0;
      color: var(--r-gray-300);
      font-size: 12px;
    }
  }
}

.p-dataview {
  margin: 0 1rem;

  .p-dataview {
    &-content {
      margin: 1rem;
    }
  }
}

.p-panel {
  border: 0 !important;
  border-radius: general.$common-border-radius !important;
}

.item-search-related-entry {
  border-radius: general.$common-border-radius;
  background-color: var(--r-bg-slate-800);

  > div {
    padding: .5rem;
  }
}

.entry-search-list {
  a {
    font-size: 12px;
  }

  > div {
    border-radius: general.$common-border-radius !important;
    background-color: var(--r-bg-slate-800) !important;
    margin: .5rem !important;
  }

  &-thumb {
    padding: .5rem;

  }

  &-info {
    color: gray;
    padding-left: 0.25rem !important;
    padding-right: 1.5rem !important;

    &-time {
      color: var(--r-blue-400);
      font-size: 12px;
      font-weight: 400;
    }

    &-sub {
      color: gray;
      font-size: 12px;
      font-weight: 400;
    }

    i {
      font-size: 10px;
    }

    .p-tag {
      padding: 0 .5rem;
    }

    .p-tag-label {
      font-size: 11px;
      font-weight: normal;
    }
  }
}

.search-entities {
  > div {
    justify-content: center;
  }

  &-block {
    width: 300px;
    margin: .25rem .5rem;
    border-radius: 5px;
    background: var(--r-bg-slate-800);

    > div {
      padding: .25rem;
    }
  }
}