@use 'general' as general;

.entity-detail {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  gap: 1rem !important;
  margin-top: 1rem !important;

  &-main {
    width: 90rem;
    background: var(--r-bg-neutral-950) !important;
    border-radius: 1rem;
  }

  &-side {
    width: 30rem;

    .p-panel {
      margin-bottom: 1rem !important;

      &-header {
        padding: .4rem .5rem .4rem 1.5rem;

        span {
          display: flex;
          align-items: center;
        }

        i {
          margin-top: .1rem;
          margin-right: .7rem;
          font-size: 1.5rem;
        }

        &-actions {
          display: flex;
          align-items: center;
        }

        strong {
          font-size: 1.4rem;
        }

        .p-button {
          padding-top: 0;
          padding-bottom: 0;

          &-label {
            font-size: 1.3rem;
          }

        }

      }

      &-content {
        align-items: center;
        padding: 1rem;
      }
    }

    .p-card {
      &-body {
        font-size: 1.1rem;
        border-radius: general.$common-border-radius;
        padding: .6rem 1rem .6rem 1rem;
        background: #2f364f;
      }

      &-card-content {
        padding: 0;
      }

      i {
        font-size: 1.1remx;
        margin-right: .5rem;
        margin-left: .25rem;
      }
    }
  }

  &-title {

    margin: 1rem;

    span {
      color: var(--r-steel-500);
      display: inline;
      font: 1.2rem general.$small-font-family;
      margin-left: .5rem;
    }

    h1 {
      font-family: Arial, Helvetica, Meiryo, sans-serif;
      font-size: 2rem;
      margin: 0;
      font-weight: bold;
      color: var(--r-sand-200);
      text-align: left;
      padding-top: 0;
      padding-bottom: 0;

      display: -webkit-box; /* 必须配合 -webkit-line-clamp 使用 */
      -webkit-box-orient: vertical; /* 设置为纵向排列 */
      -webkit-line-clamp: 3; /* 限制显示的行数 */
      overflow: hidden; /* 超出部分隐藏 */
      text-overflow: ellipsis; /* 显示 "..." */
    }
  }

  &-entry {
    margin: 1rem !important;
    display: flex;

    &-summary {
      width: 20rem;
      margin-top: 1rem !important;
    }

    &-cover {
    }

    &-info {
      position: relative;
      height: 100%;

      ul {
        list-style: none;
        padding-left: 0 !important;
      }

      > ul {
        li {
          padding: 0.4rem 0.2rem;
          border-bottom: 0.1rem solid #444;

          > span {
            font-size: 1.2rem;
            color: #D8D8D8;
          }

          &.sub {
            margin-left: 3.3rem;
          }
        }
      }
    }

    &-actions {
      width: 100%;

      > * {
        position: absolute;
        display: flex;
        align-items: center;
      }
    }

  }

  &-item {
    margin: 1rem !important;

    &-summary {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem !important;
    }

    &-cover {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20rem;
      height: 20rem;
      text-align: center;
      vertical-align: middle;
    }

    &-actions {
      height: 100%;

      > * {
        position: absolute;
        right: 1rem;
        display: flex;
        align-items: center;
        margin: 1rem;
      }
    }

    &-info {
      > * {
        display: inline-block;
        margin: 1rem;
      }

      table {
        position: absolute;
        top: 0;

        > :not(caption) > * > * {
          border-bottom-width: 0;
        }

        > :not(:first-child) {
          border-top-width: 0;
        }

        font: 1.2rem general.$small-font-family;

        td {
          padding: .25rem;
        }

        i {
          margin-right: .25rem;
          font-size: 1.3rem;
          transform: translateY(10%);
        }

        b {
          color: var(--r-steel-500);
        }

        .p-tag {
          margin-left: .25rem !important;
        }

      }

      display: inline-block;
      height: 20rem;
      background: var(--r-bg-slate-800);
      box-sizing: border-box;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0.5rem;
      position: relative !important;
      border-radius: 1rem;
    }
  }

  &-content {
    margin: 0 1rem !important;
  }

}

.entity-fieldset {

  .p-dataview-content {
    background: var(--r-bg-slate-800) !important;
  }

  .p-fieldset {
    margin-bottom: .5rem;
    background-color: var(--r-bg-slate-800);

    &-content {
      padding: .5rem;
    }

    &-legend {

      background: var(--r-bg-neutral-950) !important;
      border: .1rem solid var(--r-sand-200);

      span {
        transform: translateY(30%);
      }

      i, b {
        font-size: 1.1rem;
        color: var(--r-sand-200);
      }

      i {
        margin: .3rem;
      }

      b {
        margin: .3rem .3rem .3rem 0;
      }
    }
  }
}

.entity-detail-markdown {
  box-sizing: border-box;
  padding: .5rem;
  font-size: 1rem;

  article {
    width: 75rem;
    font-size: 1.3rem;
  }

  p {
    line-height: 1.5;
    margin: 0;
  }
}

.tingle-markdown-body {
  color: black;
}

.markdown-body a:hover,
.markdown-body a:visited,
.markdown-body a {
  color: var(--r-mint-100);
  text-decoration: none;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  color: var(--r-steel-500);
  background-color: var(--r-bg-indigo-700);

}