@import 'primeflex/primeflex';

$small-font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, Meiryo, sans-serif;

$common-border-radius: 1rem;
$common-border-down-radius: 0 0 1rem 1rem;
$common-border-up-radius: 1rem 1rem 0 0;

:root {
  --r-bg-half-none: rgba(0, 0, 0, 0.5);

  --r-bg-blue-950: #001122;
  --r-bg-indigo-700: #3C405C;
  --r-bg-indigo-900: #1B273D;
  --r-bg-slate-800: #2F364F;
  --r-bg-neutral-950: #18181b;

  --r-sand-200: #BEB993;
  --r-mint-100: #ceffff;
  --r-blue-400: #68b;
  --r-gray-300: #bbb;

  --r-steel-300: #B0C4DE;
  --r-steel-500: #788990;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--r-bg-blue-950);
  min-width: 125rem;

  font-family: var(--font-family);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0.25rem;
}

img {
  user-drag: none; /* 禁用拖动 */
  -webkit-user-drag: none; /* 兼容 Webkit 浏览器 */
}

.card {
  background: var(--surface-card);
  border-radius: 10px;
}


a:link {
  color: var(--r-mint-100) !important;
  @include styleclass('no-underline hover:underline');
}

a:visited, a:hover {
  color: var(--r-mint-100) !important;
}

.small-font {
  font: 1.1rem $small-font-family;
}

.label-title {
  color: var(--r-steel-500);
}


.p-popover {
  border-radius: 6px !important;

  .p-popover-content {
    padding: 0 !important;
    border-radius: 6px !important;
  }
}


.image-click {
  cursor: url("https://static.rakbow.com/common/zoomin.cur"), pointer;
}

/* 文本超出部分显示为省略号 */
.text-ellipsis {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}