@import 'primeflex/primeflex';

$golden-text: #BEB993;
$common-background: #2F364F;
$common-root-background: #18181b;
$common-header-background: #1B273D;
$common-border-bottom: #3C405C;
$common-link: #ceffff;
$label: #788990;
$time: #68b;
$gray: #bbb;

$small-font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, Meiryo, sans-serif;

$common-border-radius: 1rem;
$common-border-down-radius: 0 0 1rem 1rem;
$common-border-up-radius: 1rem 1rem 0 0;

:root {
  --r-background: #001122;
  --r-header-background: #1B273D;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--r-background);
  min-width: 125rem;

  font-family: var(--font-family);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0.25rem;
}

img {
  user-drag: none; /* 禁用拖动 */
  -webkit-user-drag: none; /* 兼容 Webkit 浏览器 */
}

.card {
  background: var(--surface-card);
  border-radius: 10px;
}



a:link {
  color: $common-link !important;
  @include styleclass('no-underline hover:underline');
}

a:visited, a:hover {
  color: $common-link !important;
}

.small-font {
  font: 1.1rem $small-font-family;
}

.label-title {
  color: $label;
}


.p-popover {
  border-radius: 6px !important;
  .p-popover-content {
    padding: 0 !important;
    border-radius: 6px !important;
  }
}



.image-click {
  cursor: url("https://static.rakbow.com/common/zoomin.cur"), pointer;
}

/* 文本超出部分显示为省略号 */
.text-ellipsis {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}