@use '@/assets/general' as general;

.entity-detail {
  &-main-col {
    margin-top: .5rem !important;
    width: 900px;
    background: general.$common-root-background !important;
    border-radius: 10px;
  }
  &-side-col {
    width: 300px;
  }
}

.entity-header-title {

  margin: 1rem;

  span {
    color: general.$label;
    display:inline;
    font: 12px general.$small-font-family;
    margin-left: .5rem;
  }

  h1 {
    font-family: Arial, Helvetica, Meiryo, sans-serif;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    color: general.$golden-text;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;

    display: -webkit-box; /* 必须配合 -webkit-line-clamp 使用 */
    -webkit-box-orient: vertical; /* 设置为纵向排列 */
    -webkit-line-clamp: 3; /* 限制显示的行数 */
    overflow: hidden; /* 超出部分隐藏 */
    text-overflow: ellipsis; /* 显示 "..." */
  }
}

.entity-fieldset {

  .p-dataview-content {
    background: general.$common-background !important;
  }

  .p-fieldset {
    margin-bottom: .5rem;
    background-color: general.$common-background;

    &-content {
      padding: 5px;
    }

    &-legend {

      background: general.$common-root-background !important;
      border: 1px solid general.$golden-text;

      span {
        transform: translateY(30%);
      }

      i, b {
        font-size: 11px;
        color: general.$golden-text;
      }

      i {
        margin: .3rem;
      }

      b {
        margin: .3rem .3rem .3rem 0;
      }
    }
  }
}

.entity-info-table {

  font: 12px general.$small-font-family;

  td {
    padding-bottom: 0;
    padding-top: 1px;
  }

  i {
    color: general.$label;
    margin-right: .25rem;
    //font-size: 1.3rem;
    transform: translateY(10%);
  }

  b {
    color: general.$label;
  }

  .p-tag {
    &-label {
      font: 10px general.$small-font-family;
    }
  }

}

.entity-detail-markdown {
  box-sizing: border-box;
  padding: 5px;
  font-size: 12px;

  article {
    width: 750px;
    font-size: 13px;
  }

  p {
    line-height: 1.5;
    margin: 0;
  }
}

.entity-detail-side-panel {
  .p-panel {
    border-radius: general.$common-border-radius;
    &-header {
      padding: 0 0 .5rem 1rem;
      background: general.$common-header-background;
      color: general.$golden-text;
      border-top-left-radius: general.$common-border-radius;
      border-top-right-radius: general.$common-border-radius;

      i {
        margin-right: 0.5rem;
        font-size: 14px;
        vertical-align: middle;
        line-height: inherit;
        transform: translateY(-10%);
      }
      span {
        font-size: 1.1rem;
      }
      .p-button-sm {
        padding: 0 0.5rem;
      }

    }
    &-content {
      padding: 10px;
      background: general.$common-background;
      border-bottom-left-radius: general.$common-border-radius;
      border-bottom-right-radius: general.$common-border-radius;
    }
  }
}

.page-info {
  margin-top: .5rem;
  .p-card {
    &-body {
      font-size: 11px;
      border-radius: general.$common-border-radius;
      padding: 6px 10px 6px 10px;
      background: #2f364f;
    }
    &-card-content {
      padding: 0;
    }
  }
  i {
    font-size: 11px;
    margin-right: .5rem;
    margin-left: .25rem;
  }
}