@use '@/assets/general' as general;

.text-container {
  width: 200px; /* 固定宽度 */
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出部分 */
  text-overflow: ellipsis; /* 溢出时显示省略号 */
}

@mixin entity-thumb {
  flex: 0 0 auto;
  margin: 0.5rem 0 0.5rem 0.5rem;
  border: .2rem solid general.$golden-text;
  border-radius: .75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.manager-panel {

  .p-panel {
    .p-panel {
      &-header {
        /* border: 1px solid #dee2e6; */
        padding: 0.5rem !important;
        background: general.$common-header-background !important;
        color: general.$golden-text !important;
        border-top-right-radius: 3px !important;
        border-top-left-radius: 3px !important;

        i {
          margin-right: 1rem;
          font-size: 1.3rem;
          vertical-align: middle;
          line-height: inherit;
        }

        span {
          font-size: 1.2rem;
        }
      }

      &-content {
        padding-left: 10px !important;
        padding-right: 10px !important;
        background: #2f364f !important;
      }
    }

    a {
      &:visited,
      &:link {
        color: general.$common-link !important;
      }
    }
  }
}

.entity-editor {
  .required-label {
    color: red;
    font-size: 0.8rem;
    margin-left: .5rem !important
  }

  label {
    font-size: 1.3rem !important;
    margin-left: .5rem !important;
  }

  .p-inputtext, .p-inputmask, .p-select, .p-inputnumber, .p-textarea, .p-multiselect, .p-autocomplete, .p-inputgroup, .p-togglebutton {
    position: static !important;
    width: 100% !important;
  }

  .p-togglebutton-icon {
    font-size: 1.7rem;
  }

  .grid {
    @extend .field;

    .p-floatlabel, .p-togglebutton {
      @extend .col
    }
  }

  .p-dataview-content {
    display: flex;
    flex-wrap: wrap;
  }

  .related-create-entity {
    margin: 1rem 1rem 0 1rem;
    width: 24rem !important;
    border: .2rem solid gray;
    border-radius: 1rem;
    @extend .grid;

    &-thumb {
      @include entity-thumb;
    }

    &-info {
      @extend .col;
      margin-top: .5rem;

      overflow: hidden;
      white-space: nowrap !important;
      text-overflow: ellipsis !important;

      small {
        color: gray;
      }
    }

    &-action {
      margin: .5rem 0;
      @extend .col;
      .p-inputtext {
        width: 16rem;
      }
    }

    .p-button {
      margin: .5rem .5rem .5rem 0;
    }

    .p-divider {
      margin: 0;
    }

  }

}