ul {
  list-style: none;
  padding-left: 0 !important;
}

ul#infobox li {
  padding: 4px 2px;
  font-size: 13px;
  border-bottom: 1px solid #EEE;
}

ul#infobox li.sub_container {
  padding: 0;
}

ul#infobox li .tip {
  font-size: 13px;
}

.tip {
  font-size: 12px;
  color: #d8d8d8;
  font-weight: 500;
}

ul#infobox li.sub {
  padding-left: 8px;
  margin-left: 26px;
  border-top: 1px solid #EEE;
  border-bottom: 0;
}
ul#infobox li.sub {
  border-top: 1px solid #444;
  border-bottom: 0;
}
ul#infobox li {
  border-bottom: 1px solid #444;
}

.infobox_container {
  position: relative;
  height: 100%;
}