.search .Dropdown {
    height: 40px;
    width: 120px;
}

.search-dialog.p-dialog {
    min-width: 825px;
}

.search-dialog .p-dialog-header {
    padding: 0.25rem 1rem;
    font-style: italic;
}

.search-dialog .p-dialog-header .p-dialog-title {
    font-weight: 400;
    font-size: 1rem;
}

.search-input {
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    outline: 0;
    padding: 0 16px 0 56px;
    line-height: 54px;
    border: 1px solid #cfd6dd;
    background: url("https://static.rakbow.com/common/search.svg") no-repeat left 16px center/24px auto;
    box-shadow: 0 4px 4px -2px rgb(23 35 59 / 4%), 0 0 8px rgb(23 35 59 / 4%);
    border-radius: 6px;
    transition: .2s;
}

.search-item a {
    color: #ceffff;
}

.p-scrollpanel .p-scrollpanel-content {
    background-color: rgba(0,0,0,0.3);
    /*background: #1B273D;*/
    padding: 10px;
    margin-top: 10px;
}

.search-scrolltop {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    background-color: var(--primary-color) !important;
}

.search-scrolltop:hover {
    background-color: var(--primary-color);
}

.search-scrolltop .p-scrolltop-icon {
    font-size: 1rem;
    color: var(--primary-color-text);
}



.search-item-name {
    font-size: 1rem;
    font-weight: 700;
}

.search-item-name a:hover {
    text-decoration: none;
}

.search-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-item img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
    /*position: relative;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.search-item .search-item-detail {
    flex: 1 1 0;
}

.search-item .p-rating {
    margin: 0 0 .5rem 0;
}

.search-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    align-self: flex-end;
}

.search-item .product-list-action {
    display: flex;
    flex-direction: column;
}

.search-item .p-button {
    margin-bottom: .5rem;
}

.has-bonus-label {
    font-size: 1.2rem;
    color: #ffc107;
}

.has-bonus-tag .Tag {
    border: green solid 1px;
}

.has-bonus-tag .Tag-value {
    opacity: 1;
    color: green;
}

.limited-tag .Tag {
    border: orange solid 1px;
}

.limited-tag .Tag-value {
    opacity: 1;
    color: orange;
}

.search-item .p-chip {
    margin: 0.5rem 0.5rem 0 0;
}

.search-item .p-chip .p-chip-text {
    font-size: 9px;
    margin: 0;
}